@import "config";
@import "header";
@import "filters";
@import "home-page-movies";
@import "filtered-movies";
@import "responsive";

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-background-1;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 6rem 0 3rem;
  letter-spacing: 0.08rem;
}
